<a href="https://colab.research.google.com/github/zengmmm00/DASC_PRE_PYTHON/blob/main/01d_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> _Self-learning material_  
> **Python workshop - 1d. Iteration**
>
> Iteration allow code to be executed on a sequence. It could be a sequence of consecutive values, or a sequence in a pre-defined list. In Python, we uses **for-loop** to iterate through a sequence of values.

# for-loop

## for-loop with `range()`

**For-loop** can be used to iterate through a list of values. A list of values can be generated using the `range()` function.

In [ ]:
sum = 0
for i in range(10):
    sum += i

print('Sum from 0 to 9 is', sum)

Sum from 0 to 9 is 45

- Needless to say, judging from indentation, there is only one statement in the for-loop above.
- `range(10)` will generate a list of values from `0` up to but not including `10`.
- `for i in ...` specify that in each iteration of the loop, variable `i` will be used to keep the current value. Therefore, when `sum += i` is executed the first time, `i` equals `0`.
- The statement `sum += i` will therefore be executed 10 times, each with a different value of `i`.

# `range()`

## `range(n)`

The `range()` function could be used in many ways. The first form is already shown in the previous example: `range(n)` with one argument `n` generates a list of integer starting from `0`, up to but not including `n`.

In [ ]:
sum = 0
for i in range( 10 ):
    sum += i
print('Sum from 0 to 9 is', sum)

Sum from 0 to 9 is 45

## `range(start, end)`

- If you need a range **starting** from a specific value, you can specify start and stop values instead.
- Start value is inclusive but end value is exclusive. So `range(1, 10)` will generate values `1` to `9`. For example:

In [ ]:
sum = 0
for i in range(5, 10):
    sum += i
print('Sum from 5 to 9 is', sum)

Sum from 5 to 9 is 35

## `range(start, end, step)`

- The optional third parameter of range can be added to specify the **step** between consecutive values in the sequence.
- So `range(1, 10, 2)` will generate a list of odd numbers from `1` to `9`.

In [ ]:
sum = 0
for i in range(1, 10, 2):
    sum += i
print('Sum of all odd numbers from 1 to 9 is', sum)

Sum of all odd numbers from 1 to 9 is 25

## Negative range

All parameter in `range()` can be negative. For example:

In [ ]:
for i in range(-1, -5, -1):
    print(i)

-1
-2
-3
-4

# Quiz

## Quiz 1d

What is the output of the following program...

1. ...if the input is `1`?
2. ...if the input is `-1`?

Try to answer without running the code.

```python
x = int(input())
for i in range(1, x * 10, x * 2):
  print(i, end="")
```

# Exercises

## Exercise 1-5 (VPL available)

- Write a program that reads one integer as `n`, then print the first `n` fibonacci numbers.
- First two Fibonacci numbers are `0` and `1`, and the third onwards equal to the sum of the two previous number.
- For example if the input is `5`, the output should be `0 1 1 2 3`.
- Sample input/output:

| Input | Output |
| ---   | ---    |
| 5     | 0 1 1 2 3 |
| 7     | 0 1 1 2 3 5 8 |
| 10    | 0 1 1 2 3 5 8 13 21 34 |

## Exercise 1-6

- Write a program that reads one integer as `n`, then print all prime numbers less than or equal to `n`.
- For example if the input is `5`, the output should be `2 3 5`.
- Sample input/output:

| Input | Output |
| ---   | ---    |
| 5     | 2 3 5 |
| 10    | 2 3 5 7 |
| 25    | 2 3 5 7 11 13 17 19 23 |

# Optional: Advanced loop controls on Nested loop

It is possible to combine the use of `else` and `continue` to break two levels of loop.

```python
for p in range(4):
    for q in range(4):
        if p + q > 1:
            print(p, q)
            break
    else:
        continue
    break
```

What happens if the `break` in the inner loop is executed? Here is the corresponding flow chart.

![Flowchart: Break-continue-else](https://drive.google.com/uc?export=view&id=1K27OHjXknVT0_SEwXS5prlazM3EQRDVA&__v1)

Try it yourself:

In [ ]:
for p in range(4):
    for q in range(4):
        if p + q > 1:
            print(p, q)
            break
    else:
        continue
    break

0 2

- When `break` in the inner loop is not executed, `else` will be executed.
    - If `else` is exectued, `continue` is executed, the final `break` will be skipped.
- When `break` in the inner loop is executed, `else` will not be executed.
    - If `else` is not exectued, the final `break` will be executed and ends the loop.

## Final words

- As seen in the last example, it is not easy to quickly read and understand the code.
  - `break`, `continue`, and `else` are handy tools, 
  but they also introduce complex control flow to a program. 
- Consider re-organizing your code if you need to use multiple `break`/`continue`.
  - Write commments when needed.