<a href="https://colab.research.google.com/github/zengmmm00/DASC_PRE_PYTHON/blob/main/02_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> **Python workshop - 2. Data**

# Tuple

When we define a list of values separated by **comma**, Python creates a tuple for us.

In [ ]:
myTuple = 1, 2, 3
print(myTuple)

(1, 2, 3)

As seen from the output of the code above, a tuple could be represented by list of values in a pair of brackets `()`.

## Accessing Tuple values

Tuple is very useful when we need to manage **sequence** of values. To access a particular value in a tuple, we use the `[]` operator.

In [ ]:
myTuple = (1, 2, 3)
print("First value is ", myTuple[0])
print("Last value is ", myTuple[2])

First value is  1
Last value is  3

A technique called **slicing** allow us to access a range of values in a tuple.

In [ ]:
myTuple = (1, 2, 3, 4, 5)
print("The middle part of the tuple is ", myTuple[1:4])

The middle part of the tuple is  (2, 3, 4)

## Tuple and for-loop

We could **iterate** through a tuple using for-loop.

In [ ]:
myTuple = (1, 2, 3)
for i in myTuple:
  print(i)

1
2
3

## Tuple is immutable

Tuple is **immutable**, even though we can access a particular value of a tuple, we cannot modify it.

In [ ]:
myTuple = (1, 2, 3)
myTuple[1] = 4 # Error!

## String vs. tuple of characters

A string has the behaviour of a tuple (of characters).

In [ ]:
myStr = "abcde"
print("First character is", myStr[0])
print("Substring: ", myStr[1:4])
myStr[1] = 'X' # Error!

## Immutable data type

We have seen many different data types already. Boolean, integer, floating point number, string, and tuple are all immutable data type. 

When values of these data type are used, they could not be changed. 
E.g., value 1 is always 1, string "Hello" is always "Hello", `(1, 2, 3)` will always be `(1, 2, 3)`. 

```python
a = 1
b = "Hello"
c = (1, 2, 3)
```

There is no way to change the values to something else without re-assigning new values.

# List

**List** could be considered as a mutable Tuple

List is defined using `[]`. It works like a tuple but it is mutable.

In [ ]:
myList = [1, 2, 3]
myList[1] = 4
print(myList) # gives [1, 4, 3]

[1, 4, 3]

## Mutable reference

Data structures like List is stored as a reference. 
The same list may be accessed by different variables.

In [ ]:
myList1 = [1, 2, 3]
myList2 = myList1
myList1[1] = 4
print(myList2) # gives [1, 4, 3]

[1, 4, 3]

It is important to understanding the behaviour when data structure is used in a program.

## Data Structures

Here is a list of commonly used data structures:
- **Tuple** `(1, 2, 3)`
  - Immutable list of values.
- **List** `[1, 2, 3]`
  - List of values, in a specific order.
- **Dictionary** `{'a': 1, 'b': 2, 'c': 3}`
  - Unordered key-value pairs.
- **Set** `{1, 2, 3}`
  - Unordered collection of unique values.

# Self-learning topics

Tuples
- Tuples
- Optional: Generator expressions

Strings
- Strings
- Optional: String construction and character coding

Lists
- Lists
- Optional: Advanced list operations
- Working with mutable values

These could be skipped if you need to catch up with the progress:

Dictionaries
- Dictionaries
- Optional: Sets

F-String
- F-String