<a href="https://colab.research.google.com/github/zengmmm00/DASC_PRE_PYTHON/blob/main/02a_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> _Self-learning material_  
> **Python workshop - 2a. Tuples**

# Tuples

## Defining a tuple

A tuple can be defined by a comma separated list of values with or without `()`.

```python
myTuple1 = (1, 2, 3)
myTuple2 = 1, 2, 3
```

Values can be of mixed types, but it is **not recommended** (consider using a dictionary instead).


```python
myPoorTuple = (1, 2.3, 'abc')
```

## Using a tuple

You can output a tuple directly.

In [ ]:
myTuple = (1, 2, 3)
print('myTuple:', myTuple)

myTuple: (1, 2, 3)

**Size** of a tuple can be retrived using the `len()` function.

In [ ]:
print('Size of tuple is', len(myTuple))

Size of tuple is 3

## Accessing item in a tuple

- Getting **items** from a tuple can be done using the `[]` operator. 
- Note that **index** starts from `0`. 
- A negative index could be used to count from the end.

In [ ]:
myTuple = (1, 2, 3)
print('First item in the tuple is', myTuple[0])
print('Second item in the tuple is', myTuple[1])
print('Last item in the tuple is', myTuple[-1])

First item in the tuple is 1
Second item in the tuple is 2
Last item in the tuple is 3

## The `in` operator

We can use the `in` operator to check if an item is inside a tuple.

In [ ]:
myTuple = (1, 2, 3, 4, 5)
if 3 in myTuple:
    print('Yes!')

Yes!

## Immutable

Tuple is **immutable**, so the following will throw an exception.

In [ ]:
myTuple = (1, 2, 3, 4)
myTuple[0] = 1 # Error!

## Concatenate

We can use the `+` operator to **concatenate** two tuples:

In [ ]:
a = (1, 2)
b = (3, 4)
print(a + b)

(1, 2, 3, 4)

## For-loop revisited

For-loop can be used to **iterate** through a tuple

In [ ]:
sum = 0
myTuple = (1, 2, 3)
for i in myTuple:
    sum += i
print('sum =', sum)

sum = 6

## Empty tuple and singleton

To create an empty tuple, simply use `()`:

```python
a = ()
```

To create a tuple with a single element, a comma is needed:

```python
a = (1,)
```

Without the comma, the bracket will be treated as a simple bracket as in an arithmetic expression.

# Slicing

## Slicing

Instead of accessing one item, we can access a **slice** of a tuple using `[:]`:

In [ ]:
myTuple = (0, 1, 2, 3, 4, 5)
print('Slicing from 1 up to 4:', myTuple[1:4])

Slicing from 1 up to 4: (1, 2, 3)

- Note that index starts from 0.
- The parameters used in slicing is the same as that used in `range()`, the second number is exclusive.

## Slicing defaults

The two values can be omitted, in that case they defaults to the beginning and the end of the list.

In [ ]:
myTuple = (0, 1, 2, 3, 4, 5)
print(myTuple[:3]) 
print(myTuple[3:])

(0, 1, 2)
(3, 4, 5)

- First value defaults to `0`.
- Second value defaults to the size of list.
- As the ending value is exclusive, the notation ensure that `[:n]` and `[n:]` together gives the original tuple.

## Negative values

Values could be negative, that means we count from the back instead.

In [ ]:
myTuple = (0, 1, 2, 3, 4, 5)
print(myTuple[:-2])
print(myTuple[-2:])

(0, 1, 2, 3)
(4, 5)

In this case, a value of `-2` is identical to the length of list - 2.

## Using variables

It is also possible to use a variable in slicing.

In [ ]:
myTuple = (0, 1, 2, 3, 4, 5)
for i in range(3):
    print(myTuple[:i + 1])

(0,)
(0, 1)
(0, 1, 2)

## The third value

We can specify a third value, which gives a similar behaviour as the 3 parameters case in the `range()` function.

In [ ]:
myTuple = (0, 1, 2, 3, 4, 5)
print(myTuple[0:4:2])

(0, 2)

# Auto-packing/unpacking

## Automatic tuple packing

- A tuple without the bracket is actually a list of expressions.
- When we assign a list of expressions to a variable, the values could said to be **packed** into a tuple.

In [ ]:
a = 10
b = a, a + 1, a * 3
print(b)

(10, 11, 30)

## Automatic tuple unpacking

When we assign a tuple to a list of variables, the tuple will automatically be **unpacked**.

In [ ]:
a = (37, 100)
b, c = a
print(b, c)

37 100

## Packing and unpacking

Packing and unpacking can be done in the same statement. Therefore the following is possible:

In [ ]:
a = 37
b = 100
b, a = a + b, b - a
print(a, b)

63 137

The statement will be executed in two stages.
1. Expression list `a + b, b - a` is temporarily packed to a tuple.
2. The tuple is unpakced to variables `b` and `a` respsectively.

# Quiz

## Quiz 2a

1. Give a single statement that swap the values in variable `a` and `b`. 
   Use no spaces in your answer.
2. Give a single statement that assign a tuple with a single value `1` to a 
   variable named `x`. Use no spaces in your answer.

# Exercises

## Exercise 2-1

- Write a program that reads a number of integers until a zero is received.
  - Store the integers in a tuple by concatenation and assignment. (E.g.,: `myTuple = myTuple + (newValue,)`)
- After reading all integers, repeatedly remove the first and last item from the tuple and print it. For example, if the input is `1 2 3 4 5 6 7 8 9 0`, the output will be:

```text
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(2, 3, 4, 5, 6, 7, 8)
(3, 4, 5, 6, 7)
(4, 5, 6)
(5,)
```

## Exercise 2-2 (VPL available)

- Write a program that reads two integers and calculate the **GCD** of the two integers using the following algorithm:
  1. Read integer as `a`.
  2. Read integer as `b`.
  3. While `b` is not zero; set `b` as `a % b`, and `a` as `b` at the same time.
  4. print `a` as the GCD.
- Make use of tuple **auto-packing/unpacking** to complete the task.

Sample input/output

| Input    | Output |
| ---      | ---    |
| 11<br>19 | 1      |
| 36<br>24 | 12     |
| 15<br>24 | 3      |
| 24<br>15 | 3      |

# Optional: Tuple access

## Tuple operations

Operators `+` and `*` can be used on tuple.
- `+` is used for concatenation.
- `*` is used to generate a repeating pattern.

In [ ]:
myTuple1 = (1, 2) + (3, 4)
myTuple2 = (1, 2) * 3
print(myTuple1, myTuple2)

(1, 2, 3, 4) (1, 2, 1, 2, 1, 2)

Operators `+=` and `*=` can also be used.

In [ ]:
myTuple = (1, 2)
myTuple *= 3
myTuple += (3, 4)
print(myTuple)

(1, 2, 1, 2, 1, 2, 3, 4)

## More tuple operations

| Operation        | Effect |
| ---              | --- |
| `s.index(x)`     | Find the index of the first item with value `x`. |
| `s.count(x)`     | Count the numbe of items with value `x`. |
| `s.reverse()`    | Reverse the order of values in list `s`. |

# Optional: Generator expressions

The **generator expression** could be used to generate a tuple.

In [ ]:
myTuple = tuple(i * i for i in range(1, 11))
print(myTuple)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

- `for i in range(1, 11)` is equivalent to a for-loop.
- `i * i` defines how each of the values in the tuple is generated.

## Generating tuple from tuple

We can also generate a tuple from another tuple.

In [ ]:
tuple1 = (2, 3, 5, 7, 11)
tuple2 = tuple(x * 2 for x in tuple1)
print(tuple2)

(4, 6, 10, 14, 22)

## Filtering

A condition can be added in the generator expression to filter the result.

In [ ]:
myTuple = tuple(x * x for x in range(1, 11) if x % 4 == 0)
print(myTuple)

(16, 64)