<a href="https://colab.research.google.com/github/zengmmm00/DASC_PRE_PYTHON/blob/main/02c_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> _Self-learning material_  
> **Python workshop - 2c. Lists**

# List comprehensions

## List vs. tuple

A list of values can be defined using `[]`, it shares most of the behaviours of a tuple.

In [ ]:
myList = [1, 2, 3]
print('Length of list is', len(myList))
for i in myList:
  print(i)

Length of list is 3
1
2
3

## Update values

List is mutable, we can update the value of an item in a list.

In [ ]:
myList = [1, 2, 3]
myList[1] = 4
print('myList:', myList)

myList: [1, 4, 3]

## Append

We can use `append()` to **add** one item to a list. Note that `append()` modifies the content of the list. We call this an **in-place** update.

In [ ]:
myList = []
myList.append(10)
myList.append(20)
myList.append(30)
print(myList)

[10, 20, 30]

## List comprehensions

The most basic form of **list comprehensions** is to use `append()` on an empty list iteratively.

Suppose you are asked to **create** a list of values from 1 to 10, the easiest way is to append items to an empty list:

In [ ]:
myList = []
for i in range(1, 11):
    myList.append(i)
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Using range()

If the list only consists of consecutive / progressive values, we can convert `range()` to a list instead:

In [ ]:
myList = list(range(1, 11))
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Note that `range()` is not a list, it is an object that can be iterated.
- What if we want a list of square numbers instead? Back to our old friend:

In [ ]:
myList = []
for i in range(1, 11):
    myList.append(i * i)
print(myList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Filtering a list

A condition can be added to filter the result in the process. For example:

In [ ]:
myList = []
for i in range(1, 11):
  if i % 3 != 0:
    myList.append(i * i)
print(myList)

[1, 4, 16, 25, 49, 64, 100]

# Quiz

## Quiz 2c

Consider the program below.

```python
t = [1, 2, 3, 4, 5]
s = t
for x in s:
  print(x, end=' ')
```

1. With the use of slicing, replace the `t` in the second line of the code above so that the program outputs `2 3 4 `. Remove all spaces in your answer.

2. With the use of operator `*`, replace the `t` in the second line of the code above so that the program outputs `1 2 3 4 5 1 2 3 4 5 `. Remove all spaces in your answer.

# Exercises

## Exercise 2-5

- Consider you are writing a component for a calendar, which will find all Saturdays and Sundays of a given month.
- Your program will read in the number of days in that month, and the day of week of the first day of the month.
(`0` for Sunday, `1` for Monday, etc.)
- For example if the input is `30` and `1`, the output should be `[6, 7, 13, 14, 20, 21, 27, 28]`.

Sample input/output:

| Input | Output |
| ---   | ---    |
| 28<br>4 | [3, 4, 10, 11, 17, 18, 24, 25] |
| 31<br>2 | [5, 6, 12, 13, 19, 20, 26, 27] |
| 30<br>6 | [1, 2, 8, 9, 15, 16, 22, 23, 29, 30] |
| 31<br>0 | 1, 7, 8, 14, 15, 21, 22, 28, 29] |

## Exercise 2-6 (VPL available)

- Write a program that reads a number of integers and store them to a list until a zero is received.
- After reading all integers, repeatedly remove the first and last item from the list and print the items at odd positions. 
- For example, if the input is 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, the output will be:

```text
[1, 3, 5, 7, 9]
[2, 4, 6, 8]
[3, 5, 7]
[4, 6]
[5]
```
- You could start with your code in Exercise 2-1.

# Optional: List manipulation

## List operations

Same with tuple, operators `+` and `*`, as well as `+=` and `*=` can be used on list.

In [ ]:
myList1 = [1, 2] + [3, 4] * 2
myList2 = [1, 2]
myList2 *= 3
myList2 += [3, 4]
print(myList1, myList2)

[1, 2, 3, 4, 3, 4] [1, 2, 1, 2, 1, 2, 3, 4]

Note that operators `+=` and `*=` are done **in-place**, i.e., it change the original value and affect all alias.

In [ ]:
a = [1, 2]
b = a
a += [3]
a *= 2
print(b)

[1, 2, 3, 1, 2, 3]

Notice that this contrast to the claim that `a += x` is equivalent to `a = a + x`.

## More list operations

| Operation        | Effect |
| ---              | --- |
| `s.append(x)`    | Append value `x` to list `s`. |
| `s.insert(i, x)` | Insert value `x` to list `s` at index `i`. |
| `s.index(x)`     | Find the index of the first item with value `x`. |
| `s.count(x)`     | Count the number of items with value `x`. |
| `s.remove(x)`    | Remove first item with value `x` from list `s`. |
| `s.pop()`        | Remove and return the last item from list `s`. |
| `s.sort()`       | Sort list `s`. |
| `s.reverse()`    | Reverse the order of values in list `s`. |

Reference: <https://docs.python.org/3/tutorial/datastructures.html#more-on-lists>

## Using del 

We can use `del` to remove one item or a slice of list:

In [ ]:
myList = [0, 1, 2, 3, 4, 5, 6, 7, 8]
del myList[7]
del myList[1:4]
print(myList)

[0, 4, 5, 6, 8]

## Slice replacement

It is also possible to replace a slice by another list. The size of list can be different after such assignment.

In [ ]:
myList = [0, 1, 2, 3, 4, 5]
myList[1 : 4] = [100, 200]
print(myList)

[0, 100, 200, 4, 5]

Slice replacement can be used to support many of the list operations. 

| Operation        | Equivalent |
| ---              | ---        |
| `s.append(x)`    | `s[len(s):] = [x]` |
| `s += t`         | `s[len(s):] = t` |
| `s.clear()`      | `s[:] = []` |
| `s.insert(i, x)` | `s[i:i] = [x]` |

# Optional: Generator expressions

Similar to that for tuple, the **generator expression** could be used to generate a list. Refer to the same optional topic in the self-learning materials on Tuples for more detail.

In [ ]:
myList = [ i * i for i in range(1, 11) ]
print(myList)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]